@import "./Animations.scss";
@import "./Variables.scss";
$mobile-small: 360px;
$mobile-mid: 375px;
$mobile-large: 414px;
$desktop: 768px;
$desktop-font-title-large: 4em;
$desktop-font-title: 3em;
$desktop-font-sub-title: 2em;
$desktop-font-small: 1.4em;
$desktop-font-sub-small: 1.125em;
$dark-grey: #444;
$light-grey: #bbb;
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}

body {
	background: #001b2b;
	font-size: 16px;
	box-sizing: border-box;
}

.portfolio {
	.hero-background-container {
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: -100;
		top: 0;
		overflow: hidden;
		opacity: 0;
		animation: fadeIn 2s 2.5s forwards;
		.hero-background-image-1 {
			width: 100%;
			height: 100%;
			background-image: url("./images/ash-city-background.jpg");
			background-size: cover;
			background-position: 35%;
			position: absolute;
			animation: background1FadeInOut 30s 2.5s linear infinite;
		}
		.hero-background-image-2 {
			width: 100%;
			height: 100%;
			background-image: url("./images/ash-wood-background.png");
			background-size: cover;
			background-position: 60%;
			position: absolute;
			animation: background2FadeInOut 30s 2.5s linear infinite;
		}
		.hero-background-gradient {
			width: 100%;
			height: 100%;
			background-color: #0000ff;
			background-image: linear-gradient(135deg, #00ffff 0%, #0000ff 50%, #00ffff 100%);
			opacity: 0.8;
			position: absolute;
			z-index: 1;
		}
	}
	.hero-data-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
		width: calc(100% - 40px);
		height: 100vh;
		min-height: 550px;
		position: relative;
		user-select: none;
		.hero-intro-text {
			color: white;
			text-align: center;
			font-size: 2em;
			opacity: 0;
			animation: fadeInDown 2s 2.5s forwards;
			@media(min-width: $mobile-mid) {
				font-size: 2.25em;
			}
			@media(min-width: $desktop) {
				margin-top: 40px;
				font-size: 3.5em;
				line-height: 70px;
			}
			@media(min-width: $desktop-large) {
				font-size: $desktop-font-title-large;
				width: 1000px;
				line-height: 86px;
			}
		}
		.hero-button-organisational-container {
			width: 100%;
			@media(min-width: $desktop) {
				display: flex;
				justify-content: space-between;
				width: 700px
			}
			@media(min-width: $desktop-large) {
				width: 900px;
			}
		}
		.hero-button {
			box-sizing: border-box;
			color: white;
			text-decoration: none;
			font-weight: 700;
			border: 4px solid white;
			width: 100%;
			height: 55px;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.8em;
			opacity: 0;
			margin-bottom: 15px;
			overflow: hidden;
			position: relative;
			transition: 0.3s;
			@media(min-width: $mobile-mid) {
				font-size: 1.8em;
				height: 60px;
				border: 5px solid white;
			}
			@media(min-width: $desktop) {
				width: 325px;
				font-size: 2.4em;
				border: 6px solid white;
				height: 100px;
			}
			@media(min-width: $desktop-large) {
				width: 425px;
				font-size: 2.8em;
			}
			&:before {
				content: "";
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: -100%;
				transform-origin: top right;
				z-index: -1;
				background: white;
				transition: 0.3s;
			}
			&:hover {
				color: blue;
			}
			&:hover:before {
				left: 0px;
			}
			&.cv {
				animation: fadeInDown 2s 2.75s forwards;
			}
			&.contact {
				animation: fadeInDown 2s 3s forwards;
				@media(min-width: $desktop) {
					&:before {
						left: unset;
						right: -100% !important;
					}
					&:hover:before {
						right: 0px !important;
					}
				}
			}
		}
		.hero-arrow {
			width: 25px;
			height: 25px;
			stroke: white;
			margin-top: 2px;
			fill: transparent;
			stroke-width: 10px;
			overflow: unset !important;
			stroke-dasharray: 85;
			stroke-dashoffset: 85;
			position: absolute;
			bottom: 80px;
			left: calc(50% - 12.5px);
			transition: 0.5s;
			opacity: 1;
			animation: arrowDrawIn 1.5s 3.5s forwards;
			&.hidden {
				opacity: 0;
				bottom: 100px;
				@media(min-width: $desktop) {
					bottom: 40px;
				}
			}
			@media(min-width: $desktop) {
				width: 45px;
				height: 45px;
				bottom: 20px;
				left: calc(50% - 22.5px);
			}
		}
	}
	.darkened-gradient-section {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 600px;
		user-select: none;
		@media(min-width: $desktop) {
			height: 700px;
		}
		@media(min-width: $desktop-large) {
			height: 650px;
		}
		.technical-competencies-section {
			width: calc(100% - 40px);
			padding: 0 20px;
			max-width: 1000px;
			.skill-choices-title-mobile {
				font-size: 1.4em;
				margin: 0 0 15px;
				color: #fff;
				@media(min-width: $desktop) {
					display: none;
				}
			}
			.flex-organisational-container {
				display: flex;
				flex-direction: column;
				@media(min-width: $desktop) {
					flex-direction: row;
				}
				.skill-choices-title {
					color: white;
					font-size: $desktop-font-title;
					margin: 0;
					display: none;
					margin-bottom: 10px;
					@media(min-width: $desktop) {
						display: block;
					}
				}
				.skill-choices-container {
					color: white;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					@media(min-width: $desktop) {
						flex-direction: column;
						justify-content: flex-start;
						min-width: 300px;
					}
					.skill-choice-container {
						width: calc(50% - 10px);
						background: transparent;
						border-radius: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						@media(min-width: $desktop) {
							justify-content: flex-start;
							width: 100%;
							margin-top: 10px;
						}
						.skill-choice-icon {
							width: 35px;
							padding: 15px;
							fill: transparent;
							transform: scale(0.5) rotate(15deg);
							display: none;
							@media(min-width: $desktop) {
								display: block;
							}
						}
						.skill-choice-title {
							font-size: 1.4em;
							color: white;
							margin: 10px 0;
							@media (min-width: $desktop) {
								font-size: $desktop-font-small;
								padding: 0;
							}
						}
						&.selected {
							background: white;
							box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
							transition: 0.3s;
							.skill-choice-icon {
								width: 35px;
								padding: 15px;
								fill: blue;
								transform: scale(1);
								transition: 0.3s;
								transition-timing-function: cubic-bezier(0.6, 1.2, 0.6, 1.2);
							}
							.skill-choice-title {
								color: blue;
								transition: 0.3s;
								@media(min-width: $desktop) {
									margin-left: 5px;
								}
							}
						}
					}
				}
				.technical-competencies-desktop-border {
					display: none;
					min-width: 1px;
					height: 450px;
					margin: 0 20px;
					background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
					@media(min-width: $desktop) {
						display: block;
					}
				}
				.skill-choice-info-container {
					.skill-choice-description-container {
						.skill-choice-mobile-border {
							margin: 15px 0 0;
							width: 100%;
							height: 1px;
							background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
							@media(min-width: $desktop) {
								display: none;
							}
						}
						.skill-choice-description-title {
							display: none;
							@media(min-width: $desktop) {
								display: block;
								color: white;
								font-size: $desktop-font-title;
								margin: 0;
								animation: fadeInDownList 0.3s forwards;
							}
						}
						.skill-choice-description {
							color: white;
							font-size: 1.2em;
							line-height: 30px;
							margin: 10px 0 20px;
							animation: fadeInDownList 0.3s forwards;
							@media (min-width: $desktop) {
								font-size: $desktop-font-small;
								line-height: 42px;
							}
						}
					}
					.technical-competencies-container {
						display: flex;
						flex-direction: column;
						align-items: center;
						.technical-competencies-title {
							background: white;
							color: blue;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 100%;
							font-size: 1.2em;
							font-weight: 900;
							text-transform: uppercase;
							padding: 5px 0;
							text-align: center;
							animation: fadeInDownList 0.3s forwards;
						}
						.technical-competencies-list-container {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							width: 100%;
							animation: fadeInDownList 0.3s forwards;
							.technical-competencies-list-item {
								color: white;
								width: 50%;
								font-size: 1.2em;
								margin: 30px 0 0;
								&:nth-child(even) {
									text-align: right;
								}
								@media (min-width: $desktop) {
									font-size: $desktop-font-small;
								}
							}
						}
					}
				}
			}
			.diagonal-filler {
				width: 100%;
				height: 80px;
				fill: white;
				position: absolute;
				bottom: -1px;
				left: 0;
				@media (min-width: $desktop) {
					height: 150px;
				}
				@media (min-width: $desktop-large) {
					height: 200px;
				}
			}
		}
	}
	.experience-section {
		color: $dark-grey;
		background: white;
		width: calc(100% - 40px);
		padding: 0 20px;
		@media (min-width: $desktop) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.title-container {
			width: 100%;
			margin-bottom: 10px;
			.blue-line {
				width: 70px;
				height: 7px;
				background: blue;
				@media(min-width: $desktop) {
					height: 10px;
				}
			}
			.title {
				margin: 0;
				text-transform: uppercase;
				font-size: 2.75em;
				color: black;
				@media(min-width: $mobile-mid) {
					font-size: 3em;
				}
				@media(min-width: $desktop) {
					font-size: $desktop-font-title-large;
				}
			}
		}
		.projects-container {
			width: 100%;
			max-width: 1400px;
			.project-container {
				padding-bottom: 30px;
				.project-title {
					font-size: 1.7em;
					text-transform: uppercase;
					margin: 0;
					font-weight: 700;
					color: black;
					@media(min-width: $mobile-small) {
						font-size: 2em;
					}
					@media(min-width: $desktop) {
						font-size: $desktop-font-title;
					}
				}
				.project-sub-title {
					font-size: 1.2em;
					text-transform: uppercase;
					margin: 0;
					font-weight: 700;
					color: $light-grey;
					@media(min-width: $mobile-mid) {
						font-size: 1.5em;
					}
					@media(min-width: $desktop) {
						font-size: $desktop-font-sub-title;
					}
				}
				.project-description {
					line-height: 30px;
					@media(min-width: $desktop) {
						line-height: 42px;
						font-size: $desktop-font-small;
					}
				}
				.project-button {
					color: $dark-grey;
					text-decoration: none;
					font-weight: 700;
					border: 3px solid $dark-grey;
					width: unset;
					height: 45px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 1.2em;
					margin-bottom: 15px;
					text-transform: uppercase;
					z-index: 10;
					overflow: hidden;
					position: relative;
					transition: 0.3s;
					user-select: none;
					@media(min-width: $mobile-mid) {
						height: 60px;
						border: 4px solid $dark-grey;
					}
					@media(min-width: $desktop) {
						font-size: $desktop-font-small;
						height: 70px;
					}
					&:before {
						content: "";
						position: absolute;
						height: 100%;
						width: 100%;
						top: -100%;
						transform-origin: top right;
						z-index: -1;
						background: $dark-grey;
						transition: 0.3s;
					}
					&:hover {
						color: white;
						border: 3px solid $dark-grey;
						@media(min-width: $mobile-mid) {
							border: 4px solid $dark-grey;
						}
					}
					&:hover:before {
						top: 0px;
						background: $dark-grey;
					}
					&.cv {
						animation: fadeInDown 2s 2.75s forwards;
					}
					&.contact {
						animation: fadeInDown 2s 3s forwards;
					}
				}
			}
		}
		.experiences-container {
			width: 100%;
			max-width: 1400px;
			.experience-container {
				display: flex;
				padding-bottom: 20px;
				position: relative;
				.duration-line-container {
					margin-left: 4px;
					min-width: 7px;
					min-height: 100%;
					background: #e3e3e3;
					&.last {
						background: unset;
						background-image: linear-gradient(to bottom, rgba(227, 227, 227, 1) 50%, rgba(227, 227, 227, 0) 100%);
					}
				}
				.experience-details-container {
					padding-left: 15px;
					.experience-duration-container {
						display: flex;
						align-items: center;
						.experience-marker {
							position: absolute;
							left: -3px;
							width: 21px;
							height: 21px;
							background: blue;
							border-radius: 50%;
							box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
							z-index: 10;
						}
						.experience-dates {
							margin: 0;
							font-size: 0.95em;
							@media (min-width: $desktop) {
								font-size: 1.125em;
							}
						}
					}
					.experience-title {
						font-size: 1.7em;
						color: black;
						text-transform: uppercase;
						font-weight: 700;
						margin: 0;
						@media(min-width: $mobile-small) {
							font-size: 2em;
						}
						@media(min-width: $desktop) {
							font-size: $desktop-font-title;
						}
					}
					.experience-sub-title {
						font-size: 1.2em;
						color: $light-grey;
						text-transform: uppercase;
						font-weight: 700;
						margin: 0;
						@media(min-width: $mobile-small) {
							font-size: 1.5em;
						}
						@media(min-width: $desktop) {
							font-size: $desktop-font-sub-title;
						}
					}
					.experience-bullets {
						margin: 10px 0;
						padding-left: 20px;
					}
					.experience-bullet {
						line-height: 30px;
						@media(min-width: $desktop) {
							line-height: 42px;
							font-size: $desktop-font-small;
						}
					}
				}
			}
		}
		
	}
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.5);
		@media(min-width: $desktop) {
			line-height: 42px;
			font-size: $desktop-font-small;
		}
		
	}
}